@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Player Server - Player Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/players.css" />
</head>

<body>
    <div id="content"></div>

    <div id="results"></div>

    <script src="lib/signalr/signalr.min.js"></script>
    <script src="lib/oidc/oidc-client.min.js"></script>

    <script src="/dist/vendor.js"></script>
    <script src="/dist/players.js"></script>
</body>

</html>